body{
  background-color: #f4f5f5;  
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  
  height: auto;
}
abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  cursor: url(../static/images/cursor.ico), auto;
}
.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.fixed-top {
  top: 0;
  transition: all 0.3s linear;
  will-change: top;
}
.fixed-bottom {
  bottom: 0;
  transition: all 0.3s linear;
  will-change: bottom;
}

#screen_bg {
  background: url(../static/images/banner.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -180px;
  height: 420px;
  margin-bottom: 120px;
}
#screen_bg .h-information { 
  width: 40%;
  margin: auto;
  position: relative;
  top: 280px;
  font-size: 16px;
  opacity: .98;
  height: 230px;
  background-color: hsla(0,0%,100%,.5);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}
#screen_bg .h-information h2 {
  margin: 10px;
  font-size: 24px;
  color: #f39999;
  font-family: HYYYT;
  letter-spacing: 1px;
}
#screen_bg .h-information img{
  width: 130px;
  height: 130px;
  margin: 0 auto 10px;
  border-radius: 50%;
}
.comm-left{
  background-color: #FFF;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
  margin-bottom: 16px;
}
.comm-user{
  background-color: #FFF;
  margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
  margin-bottom: 16px;
}
.comm-box{
  background-color: #FFF;
  margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
}
.comm-main{
  margin-top: .5rem !important;
  max-width: 1100px;
  margin:0 auto;
  min-height: calc(100vh - 3.2rem - 5rem - .5rem);
  /* height: 3.2 footer: 5 self : margin-top .5 */
}

.list-title{
  font-size:1.4rem;
  padding: 0 0.5rem;
  margin-top: 1.3rem;
  font-family: HYLMT;
  text-decoration: none;
}
.list-title a {
  color: #ef8585;
}
.fold {
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eff6fa;
  color: #0c5897;
  font-size: 12px;
  line-height: 1;
  right: 20px;
  bottom: 10px;
  padding: 5px;
}
.fix-fold {
  right: 296px;
  color: rgb(255, 255, 255);
  background-color: rgb(129, 186, 235);
  position: fixed;
}
.list-icon{
  padding:.5rem 0;
  color:#999;
}
.list-icon span{
  display: inline-block;
  padding: 0 10px;
}
.list-icon img{
  width: 30px;
  margin-right: .3rem !important;
}
.list-header{
  font-size: 1.1rem;
  padding-left:1rem;
}
.list-go{
  text-align: right;
  margin-right: 20px;
  color:#bbb;
}
.bbd-img{
  border-radius: 4px;
  width: 100%;
}
.bbd-title{
  margin-top:10px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.bbd-zi{
  color: #888;
}
.ant-card-body{
  padding:10px;
}

.footer-div{
  background: url(../static/images/banner.jpg) no-repeat;
  background-size: 100% 900%;
  background-position: 0 70%;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.6;
  font-size: 14px;
  padding: 7px 0;
  color: #444141;
  background-color: #232323;
  height: 5rem;
}

/* detail */

.bread-div{
  padding: .5rem;
  border-bottom:1px solid #eee;
  background-color: #e1f0ff;
}
.detailed-title{
  font-size: 1.5rem;
  text-align: center;
  padding: .3rem;
  color: #ef8585;
}
.center{
  text-align: center;
}
.detailed-content{
  padding: 1.3rem;
  font-size: 1rem;
}
pre{
  display: block;
  background-color:#f3f3f3;
   padding: .5rem !important;
   overflow-y: auto;
   font-weight: 300;
   font-family: Menlo, monospace;
   border-radius: .3rem;
}
pre{
  background-color: #283646 !important;
}
pre >code{
  border:0px !important;
  background-color: #283646 !important;
  color:#FFF;

}
code {
  display: inline-block ;
  background-color:#f3f3f3;
  border:1px solid #fdb9cc;
  border-radius:3px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  color:#4f4f4f;
  margin: 0px 3px;

}

.title-anchor{
  color:#888 !important;
  padding:4px !important;
  margin: 0rem !important;
  height: auto !important;
  line-height: 1.2rem !important;
  font-size: .7rem !important;
  border-bottom: 1px dashed #eee;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.active{
  color:rgb(30, 144, 255) !important;
}
.nav-title{
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);
  font-size: 1.2rem;
  padding-bottom: .8rem;

}
.detailed-nav  .ant-anchor-link .ant-anchor-link {
  padding-top: 10px;
  padding-bottom: 10px;
}
.article-menu{
  font-size:12px;
}
iframe{
  height: 34rem;
}
.detailed-content  img{
  width: 100%;
  border:1px solid #f3f3f3;
}
.title-level3{
  display: none !important;
}
.ant-anchor-link-title{
  font-size: 14px !important;
}
.ant-anchor-wrapper{
  padding: 5px !important;
  max-height: calc(100vh - 10rem) !important;
}

.foldcontent-panel {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1.2rem;
  color: #666;
  line-height: 2.5;
  border: 1px solid #eee;
  box-shadow: 5px 6px 5px #ccc;
}

.to-top {
  position: fixed;
  bottom: 120px;
  right: 35px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url('../static/images/toTop.png') no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.to-top:hover {
  background: url('../static/images/toTopHover.png') no-repeat;
  background-size: 100%;
}
.to-top:after {
  content: '返回顶部';
  height: 20px;
  width: 60px;
  position: absolute;
  bottom: -20px;
  left: -8px;
  color: rgba(0,0,0, 0.65);
}